<h1 mat-dialog-title>
    Edit "{{ data.user.firstName }} {{ data.user.lastName }}" Detail
</h1>

<div mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input formControlName="phoneNumber" matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Birth date</mat-label>
            <input
                [matDatepicker]="picker"
                formControlName="birthDate"
                matInput
            />

            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
        mat-button
        [disabled]="editForm.invalid"
        cdkFocusInitial
        color="primary"
        (click)="onUpdate()"
    >
        Update Account
    </button>
</div>
