<div *ngIf="isLoggedIn$ | async; else auth" class="app">
    <app-toolbar (burgerClicked)="onSidenavTrigger()"></app-toolbar>

    <mat-sidenav-container>
        <mat-sidenav opened #drawer class="sidenav" mode="side">
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content className="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #auth>
    <router-outlet></router-outlet>
</ng-template>
