<app-cases-toolbar-item
    #item
    title="Status"
    selectedTitle="{{
        selectedItems.length
            | i18nPlural
                : {
                      '=1': 'Status',
                      other: 'Statuses'
                  }
    }}"
    [selected]="selectedItems"
    [itemsLength]="items.length"
>
    <app-selector
        [defaultSelectedItems]="defaultSelectedItems"
        (selectItems)="onSelectItems($event)"
        [selectAllTitle]="'All cases'"
        [items]="items"
    ></app-selector>
</app-cases-toolbar-item>
