<app-cases-toolbar-item
    title="Country"
    selectedTitle="{{
        (selectedItems$ | async).length
            | i18nPlural
                : {
                      '=1': 'Country',
                      other: 'Countries'
                  }
    }}"
    [itemsLength]="allItemsLength"
    #item
    [selected]="selectedItems$ | async"
>
    <app-alphabet
        [activeChars$]="activeChars$"
        (selectChar)="onSelectChar($event)"
    ></app-alphabet>
    <app-selector
        [defaultSelectedItems]="defaultSelectedItems"
        (selectItems)="onSelectItems($event)"
        [items]="items$ | async"
    ></app-selector>

    <div class="items">
        <span class="item" *ngFor="let item of selectedItems$ | async">
            <span>{{ item }} </span>
            <mat-icon (click)="onDeleteItem(item)">cancel</mat-icon>
        </span>
    </div>
</app-cases-toolbar-item>
