<app-cases-toolbar-item
    title="Country"
    selectedTitle="{{
        selectedItems.length
            | i18nPlural
                : {
                      '=1': 'Country',
                      other: 'Countries'
                  }
    }}"
    #item
    [selected]="selectedItems"
>
    <app-alphabet
        [activeChars$]="activeChars$"
        (selectChar)="onSelectChar($event)"
    ></app-alphabet>
    <app-selector
        (selectItems)="onSelectItems($event)"
        [items]="items$ | async"
    ></app-selector>
</app-cases-toolbar-item>
