<mat-card class="cases-toolbar">
    <div class="item">
        <app-cases-toolbar-item-status
            #filterComponents
            (selectItems)="onSelectStatus($event)"
        ></app-cases-toolbar-item-status>
    </div>
    <div class="item">
        <app-cases-toolbar-item-country
            #filterComponents
        ></app-cases-toolbar-item-country>
    </div>
    <div class="item reset">
        <a (click)="onReset()">Reset filters</a>
    </div>
    <div class="item search">
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input [formControl]="searchText" matInput #input maxlength="10" />
        </mat-form-field>
    </div>
</mat-card>
